<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <link href="{% static "css/circle.css" %}" rel="stylesheet">
  </head>

  <body>

      <div class="modal-body col-md-6 mx-auto">
        <!-- Your second column here -->
        <div id="list-group" class="list-group">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between mb-6">
              <div>
                <h5 class="mb-1">List group item heading</h5>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="row w-100 ml-1">
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key-active tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='15' height='12' viewBox="0 4 13 10">
                      <path fill-rule="evenodd" fill="white" d="M12 5.5l-8 8-4-4L1.5 8 4 10.5 10.5 4 12 5.5z"></path>
                    </svg>
                    One of two co
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two column
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="c100 p74 small" style="margin-right: 0px;">
                  <span>74%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h5 class="mb-1">List group item heading</h5>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="row w-100 ml-1">
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two column
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="c100 p74 small" style="margin-right: 0px;">
                  <span>74%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h5 class="mb-1">List group item heading</h5>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="row w-100 ml-1">
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two column
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="c100 p74 small" style="margin-right: 0px;">
                  <span>74%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h5 class="mb-1">List group item heading</h5>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="row w-100 ml-1">
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two column
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="c100 p74 small" style="margin-right: 0px;">
                  <span>74%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h5 class="mb-1">List group item heading</h5>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="row w-100 ml-1">
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two column
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="c100 p74 small" style="margin-right: 0px;">
                  <span>74%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h5 class="mb-1">List group item heading</h5>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="row w-100 ml-1">
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two column
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="c100 p74 small" style="margin-right: 0px;">
                  <span>74%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h5 class="mb-1">List group item heading</h5>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="row w-100 ml-1">
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two column
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="c100 p74 small" style="margin-right: 0px;">
                  <span>74%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <div>
                <h5 class="mb-1">List group item heading</h5>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="row w-100 ml-1">
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two colum
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two column
                  </div>
                  <div class="col-auto rounded my-1 mr-2 key tag">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-right: 1px;" width='13' height='12' viewBox="0 4 8 7">
                      <path fill-rule="evenodd" fill="purple" d="M4 4H3v3H0v1h3v3h1V8h3V7H4V4z"></path>
                    </svg>
                    One of two co
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <div class="c100 p74 small" style="margin-right: 0px;">
                  <span>74%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="modal-body fixed-bottom bg-white border-top">
          {% csrf_token %}
          <form id="form">
            <div class="form-row col-md-5 mx-auto mb-2">
              <div class="col">
                <input id="input" class="form-control" type="text" placeholder="">
              </div>
              <div class="col-auto">
                <button type="submit" id="submit" class="btn btn-primary" form="form">
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 2px;" width='14' height='13' viewBox="0 2 8 12">
                    <path fill-rule="evenodd" fill="white" d="M0 14l6-6-6-6v12z"></path>
                  </svg>
                </button>
              </div>
            </div>
          </form>
          <div class="row justify-content-center">
            <div class="col-auto rounded mt-2 mx-1 bg-success text-light tag">
              One of two column
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-success text-light tag">
              One of two col
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-success text-light tag">
              One of two colu
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-success text-light tag">
              One of two column
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-success text-light tag">
              One of two colu
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-danger text-light tag">
              One of two
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-success text-light tag">
              One of two colum
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-danger text-light tag">
              One of two colu
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-danger text-light tag">
              One of two column
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-danger text-light tag">
              One of two colum
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-danger text-light tag">
              One of two column
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
            <div class="col-auto rounded mt-2 mx-1 bg-danger text-light tag">
              One of two colu
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="margin-left: 3px;" width='14' height='15' viewBox="0 0 11 14">
                <path fill-rule="evenodd" fill="white" d="M7.71 8.23l3.75 3.75-1.48 1.48-3.75-3.75-3.75 3.75L1 11.98l3.75-3.75L1 4.48 2.48 3l3.75 3.75L9.98 3l1.48 1.48-3.75 3.75z"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/jquery-3.3.1.min.js" %}"><\/script>')</script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
